{%- assign nodeParent = nodeCurrent | noteParent: notes -%}

{% unless nodeParent %}
{%- assign nodeParent = nodeCurrent -%}
{% endunless %}

<ul class="nav-list">
      <li class="nav-list-item active">
      <a href="{{ nodeParent | noteURL }}" class="nav-list-link active">{{ nodeParent.title }}</a>

      <ul class="nav-list">
        {%- for id in nodeParent.children -%}
          {%- assign node = notes[id]  -%}
          {%- if nodeCurrent.id == id -%}
            {%- assign active = true -%}
          {% else %}
            {%- assign active = false -%}
          {% endif %}

          {% if node.custom.nav_exclude %}
          {% else %}
          <li class="nav-list-item{% if active %} active{% endif %}"></li>
          <a href="{{ node | noteURL }}" data="{{id}}" class="nav-list-link {% if active %} active {% endif %}">{{ node.title }}</a>

          {% if id == nodeCurrent.id and nodeParent.id != nodeCurrent.id and nodeCurrent.children.size > 0 %}
            <ul class="nav-list" style="padding-left: 1rem; padding-right: 2rem; line-height: 1.5rem, min-height: 2rem;">
              {%- for id2 in nodeCurrent.children -%}
                {%- assign node = notes[id2]  -%}
                {% if node.custom.nav_exclude %}
                {% else %}
                <li class="nav-list-item"></li>
                <a href="{{ node | noteURL }}" data="{{id2}}" class="nav-list-link ">{{ node.title }}</a>
                </li>
                {% endif %}
              {%- endfor -%}
            </ul>
          {% endif %}

          </li>
          {% endif %}
        {%- endfor -%}
      </ul>
    </li>
</ul>

