---
layout: table_wrappers
---

{%- assign hierarchy = site.html_pages | where_exp:"item", "item.nav_exclude != true" | sort:"title" | sort:"nav_order" | group_by:"parent" -%}
{%- assign top_nodes = hierarchy | where_exp:"item", "item.name == ''" | map: "items" | first -%}

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="svg-link" viewBox="0 0 24 24">
      <title>Link</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
      </svg>
    </symbol>
    <symbol id="svg-search" viewBox="0 0 24 24">
      <title>Search</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </symbol>
    <symbol id="svg-menu" viewBox="0 0 24 24">
      <title>Menu</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </symbol>
    <symbol id="svg-arrow-right" viewBox="0 0 24 24">
      <title>Expand</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </symbol>
    <symbol id="svg-doc" viewBox="0 0 24 24">
      <title>Document</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline>
      </svg>
    </symbol>
  </svg>

  <div class="side-bar">
    <div class="site-header">
      <a href="{{ '/' | absolute_url }}" class="site-title lh-tight">{% include title.html %}</a>
      <a href="#" id="menu-button" class="site-button">
        <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
      </a>
    </div>
    <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav">
      {%- include nav.html nodes=top_nodes -%}
    </nav>
    <footer class="site-footer">
      🌱 with 💕 using <a href="https://www.dendron.so/"> Dendron 🌲 </a>
    </footer>
  </div>
  <div class="main" id="top">
    <div id="main-header" class="main-header">
      {% if site.search_enabled != false %}
        <div class="search">
          <div class="search-input-wrap">
            <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
          </div>
          <div id="search-results" class="search-results"></div>
        </div>
      {% endif %}
      {% if site.aux_links %}
        <nav aria-label="Auxiliary" class="aux-nav">
          <ul class="aux-nav-list">
            {% for link in site.aux_links %}
              <li class="aux-nav-list-item">
                <a href="{{ link.last }}" class="site-button"
                  {% if site.aux_links_new_tab %}
                  target="_blank" rel="noopener noreferrer"
                  {% endif %}
                >
                  {{ link.first }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div id="main-content-wrap" class="main-content-wrap">
      {% unless page.url == "/" %}
        {% if page.parent %}
          <nav aria-label="Breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb-nav-list">
              {%- include crumbs.html nodes=top_nodes -%}
            </ol>
          </nav>
        {% endif %}
      {% endunless %}
      <div id="main-content" class="main-content" role="main">

      {% if site.enable_mathjax %}
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      {% endif %}

      {% if page.sources %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



      <div class="alert alert-primary" role="alert">
        This page was generated from content adapted from the following <a href="#" data-html="true" data-toggle="popover" title="Attributions">sources</a>
        </a>
      </div>

      <script>
        $(function () {
          $('[data-toggle="popover"]').popover({content: `
            <ul>
            {% for source in page.sources %}
            <li> <a href="{{source.url}}" target="_blank">{% if source.name and source.name != "" %} {{source.name}} {% else %} {{source.url}} {% endif %} </li>
            {% endfor %}
            </ul>
          `})
        })
      </script>
      {% endif %}

        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" %}
        {% else %}
          {{ content }}
        {% endif %}


        {%- if page.has_collection -%}
          {% include documents-collection.html sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
        {%- elsif page.has_toc != false -%}
          {%- include toc.html -%}
        {%- endif -%}

        {% if site.footer_content != nil or site.last_edit_timestamp or site.gh_edit_link %}
          <hr>
          <footer>
            {% if site.back_to_top %}
              <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
            {% endif %}
            {% if site.footer_content != nil %}
              <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
            {% endif %}

            {% if site.last_edit_timestamp or site.gh_edit_link %}
              <div class="d-flex mt-2">
                {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
                  <p class="text-small text-grey-dk-000 mb-0 mr-2">
                    Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
                  </p>
                {% endif %}
                {% if
                  site.gh_edit_link and
                  site.gh_edit_link_text and
                  site.gh_edit_repository and
                  site.gh_edit_branch and
                  site.gh_edit_view_mode
                %}
                  <p class="text-small text-grey-dk-000 mb-0">
                    <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}/{{ site.dendron_vault_path }}/{{ page.fname }}.md" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </footer>
        {% endif %}

      </div>
    </div>

    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
          <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search"></use></svg>
        </a>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}
  </div>
</body>
</html>
